<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bright Ideas</title>
  </head>
  <body>
    <a href="/logout" data-method="delete">Logout</a>
    <h3>Hi <%= current_user.alias %>!</h3>
    <form action="/ideas" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <textarea name="new_idea" rows="2" cols="40"></textarea><br>
      <input type="submit" value="Idea!">
    </form>
    <% if flash[:errors] %>
      <% flash[:errors].each do |err| %>
        <p><%= err %></p>
      <% end %>
    <% end %>
    <%@ideas.each do |each_idea|%>
    <div>
      <br><br>
        <a href="/users/<%=each_idea.user_id%>"><%= each_idea.user.alias %></a> says <br>
        <p><%= each_idea.idea%></p>
        <%if each_idea.user_id == current_user.id%>
        <a href="/ideas/<%=each_idea.id%>" data-method = "delete">Delete</a>
        <%end%>
        <form action="/likes" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="hidden" name="idea_id" value="<%=each_idea.id%>">
          <input type="submit" value="Like">
        </form>
        <a href="/ideas/<%=each_idea.id%>"><%=each_idea.likes.count%> people</a> like this <br>
    </div>
      <%end%>
  </body>
</html>
