<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Product</title>
  </head>
  <body>
    <form action="/products/<%=@product.id%>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" name="_method" value="put">

      <select name="product[category]">
        <%@categories.each do |category|%>
          <% if(category.name == @product.category.name)%>
          <option selected="select" value="<%= category.id %>"><%= category.name %></option>
          <%else%>
          <option value="<%= category.id %>"><%= category.name %></option>
          <%end%>
        <%end%>     
      </select>

      <label>Name:</label><br>
      <input type="text" name="product[name]" value="<%=@product.name%>"><br>

      <label>Description:</label><br>
      <input type="text" name="product[description]" value="<%=@product.description%>"><br>

      <label>Price:</label><br>
      <input type="text" name="product[pricing]" value="$ <%=@product.pricing%>"><br>

      <input type="submit" value="Update">
    </form><br>
    <a href="/products/<%=@product.id%>">Show</a>  |   <a href="/">Back</a>
  </body>
</html>
